*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

#logo{
    width:100px;
    height: 70px;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
    background-color: white;
    position: fixed;
    width: 100%; 
}
#nav-links{
    display: flex;
    column-gap: 40px;
    color: #2D0000;
    font-size:18px;
    
}
nav button{
    background-color: white;
    height: fit-content;
    /* border-color: #A53CBA; */
    border: 1px solid #B40000;
    display: inline-block;
    padding: 11px 20px;
    text-transform: capitalize;
    font-size: 16px;
}

nav button:hover{
    color:#fff;
    background-color: #B40000;
    /* background-color: blueviolet; */

}
#hero{
    background-image: url(../assests/images/hero_image.jpg);
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: 100%  100%;
}